.color-list {
  list-style-type: none;
  border: 2px solid #ccc;
  padding: 0;
  display: grid;
  grid-template: 1fr 1fr 1fr;
  color: rgb(37, 37, 37);
}

.color-list li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px inset #ccc;
  background-color: #ccc;
}

.color h3 {
  margin-top: 0;
}
